# Node.js packages installed with Yarn
# Restore packages using `yarn` (recommended)
# or `npm install`
node_modules/

# Windows system files
Thumbs.db

# Compiled files
# Recompile using `yarn run build`
# or `npm run build`
# or `gulp build`
build/

# The test Impostr library
# Use `node test/main.js` to run the test and generate the library
test/impostr.json
